{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media profile-block">
        <img class="rounded-circle account-img" 
             src="{{ user.profile.profile_image.url }}"
             style="height: 150px; width: 150px;">
        <div class="media-body">
          <h2 class="account-heading content-block">
            {{ user.username }}
          </h2>
          <p class="text-secondary content-block">
            {{ user.email }}
            </br></br> <!-- Only one crutch in the Front-end -->
            <a class="btn btn-secondary content-block" href="{% url 'post-create' %}">
              Add new post
            </a>
          </p>
        </div>
      </div>
      <form method='POST' enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class='form-group'>
              {{ user_form|crispy }}
              {{ profile_form|crispy }}
          </fieldset>
          <a class='btn btn-secondary' href="{% url 'password-reset' %}">
            Reset the password
          </a>
          <button class='btn btn-secondary' type='submit'>
            Update
          </button>
      </form>
    </div>
    
    {% for post in posts %}
    	<div class="post container" style="max-height: 200px; 
										                     overflow: hidden; 
										                     text-overflow: ellipsis;">
    		<span class="post-authon post-date">
          By 
          <a href="{% url 'user-posts' post.author.username %}">
    				{{ post.author }}
    			</a>
    				 -  
    			<small>
    				{{ post.date|date:'F d, Y' }}
          </small>
          <p class='float-right'>
						 Total likes: {{ post.like.count }}
					 </p>
    		</span>
    		<hr/>
	      <h1>
          <a class="post-title" href="http://127.0.0.1:8000/post/{{ post.id }}">
            {{ post.title }}
          </a>
	      </h1>
	      <span class="post-descs">
	        {{ post.desctiption }}
	      </span>
      </div>
    {% endfor %}

    <br/>

    <style type="text/css">
      .content-section {
        height: 200px auto;
        background: #f0f0f0;
        border: 1px solid lightgray;
        margin-top: 20px;
        padding: 1em;
        -webkit-box-shadow: 0px 50px 43px -37px rgba(255,255,255,1);
        -moz-box-shadow: 0px 50px 43px -37px rgba(255,255,255,1);
        box-shadow: 0px 50px 43px -37px rgba(255,255,255,1);
      }

      .content-block {
        text-align: center;
      }

      .post {
        height: 200px auto;
        background: #f0f0f0;
        margin-top: 20px;
        padding: 1em;
      }
  
      .post-title {
        color: black;
      }

      .post-title:hover {
        color: black; 
        text-decoration: underline; 
      }
  </style>
{% endblock content %}