<header class="container">
	<nav class="navbar 
				navbar-expand-lg 
				navbar-light 
				bg-light
				navbar navbar-dark bg-dark">
		<a class="navbar-brand homePage" href="{% url 'home-page' %}">
			StarNavi | test-project
		</a>
	 	<button class="navbar-toggler" 
	 			type="button" 
	 			data-toggle="collapse" 
	 			data-target=" #navbarSupportedContent" 
	 			aria-controls="navbarSupportedContent" 
	 			aria-expanded="false" 
	 			aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<span class="navbar-nav mr-auto"></span>
			<form class="form-inline 
						 my-2 
						 my-lg-0">
				<ul class="navbar-nav 
						   mr-auto 
						   mt-2
						   mt-lg-0">
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'api-help' %}">
							API 
						</a>
					</li>
					{% if user.is_authenticated %}
						<li class="nav-item active">
							<a class="nav-link fourth" href="{% url 'profile' user.id %}">
								Hello, {{ user.get_username }}
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link logOut" href="{% url 'logout' %}">
								log-out 
							</a>
						</li>
					{% else %}
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'login' %}">
								Log-in 
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link first" href="{% url 'signup' %}">
								Sign-up 
							</a>
						</li>
					{% endif %}
				</ul>
    		</form>
	  	</div>
	</nav>
</header>