{% extends 'base.html' %}

{% block content %}
    {% for post in posts %}
    	<div class="post container" style="max-height: 200px; 
										   overflow: hidden; 
										   text-overflow: ellipsis;">
    		<span class="post-authon post-date">
    			By <a href="#"> 
    				{{ post.author }}
    				</a>
    				  -  
    				 <small>
    				 	{{ post.date|date:'F d, Y' }}
					 </small>
					 <p class='float-right'>
						 Total likes: {{ post.like.count }}
					 </p>
    		</span>
    		<hr/>
	        <h1>
				<a class="post-title" href="{% url 'post-detail' post.id %}">
					{{ post.title }}
				</a>
	        </h1>
	        <span class="post-descs">
	            {{ post.desctiption }}
	        </span>
	    </div>
	{% endfor %}
	<br/>
	<div style='text-align: center;'>
		{% if is_paginated %}
			{% if page_obj.has_previous %}
				<a class="btn btn-outline-secondary mb-4" 
					href="?page=1">
					First
				</a>
				<a class="btn btn-outline-secondary mb-4" 
				href="?page={{ page_obj.previous_page_number }}">
					Previous
				</a>
			{% endif %}
			{% for each_number in page_obj.paginator.page_range %}
				{% if page_obj.number == each_number %}
				<a class="btn btn-secondary mb-4" 
					href="?page={{ each_number }}">
					{{ each_number }}
				</a>
				{% elif each_number > page_obj.number|add:'-3' and each_number < page_obj.number|add:'3' %}
				<a class="btn btn-outline-secondary mb-4" 
					href="?page={{ each_number }}">
					{{ each_number }}
				</a>
				{% endif %}
			{% endfor %}
			{% if page_obj.has_next %}
				<a class="btn btn-outline-secondary mb-4" 
					href="?page={{ page_obj.next_page_number }}">
					Next
				</a>
				<a class="btn btn-outline-secondary mb-4" 
				href="?page={{ page_obj.paginator.num_pages }}">
					Last
				</a>
			{% endif %}
		{% endif %}
	</div>
	<br/>
	<style type="text/css">
		.post {
			height: 200px auto;
			background: #f0f0f0;
			margin-top: 20px;
			padding: 1em;
		}

		.post-title {
			color: black;
		}
		.post-title:hover {
		color: black; 
		text-decoration: underline; 
	}
	</style>
{% endblock %}