{% load static %}

<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
<link rel='stylesheer' type='text/css' href='{% static "../static/header.css" %}'>
<style>
    body {
        background-image: url(http://ilyakhasanov.ru/images/background/58.png);
    }
    .navbar {
        -webkit-box-shadow: 0px 0px 80px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 80px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 80px 0px rgba(255,255,255,1);
    }
    .up-word, 
    .requiredField {
        color: #f0f0f0;
    }
    .content-section {
        height: 200px auto;
        background: #f0f0f0;
        border: 1px solid lightgray;
        margin-top: 20px;
        padding: 1em;
        -webkit-box-shadow: 0px 50px 43px -37px rgba(255,255,255,1);
        -moz-box-shadow: 0px 50px 43px -37px rgba(255,255,255,1);
        box-shadow: 0px 50px 43px -37px rgba(255,255,255,1);
      }

      .content-block {
        text-align: center;
      }

      .post {
        height: 200px auto;
        background: #f0f0f0;
        margin-top: 20px;
        padding: 1em;
      }
  
      .post-title {
        color: black;
      }

      .post-title:hover {
        color: black; 
        text-decoration: underline; 
      }

      .tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
      .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;border-color:#ccc;color:#333;background-color:#fff;}
      .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;border-color:#ccc;color:#333;background-color:#f0f0f0;}
      .tg .tg-buh4{background-color:#f9f9f9;text-align:left;vertical-align:top}
      .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
      .tg .tg-btxf{background-color:#f9f9f9;border-color:inherit;text-align:left;vertical-align:top}
      .tg .tg-0lax{text-align:left;vertical-align:top}
</style>