{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='content'>
        <form id="submitForm" method='POST'>
            {% csrf_token %}
            <fieldset class='form-group'>
                <legend class='border-bottom mb-4 requiredField'>
                    Post editing
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class='form-group'>
                <a class='btn btn-secondary sixth' onclick='submitData()'>
                    Submit
                </a>
            </div>
        </form>
    </div>
    <script>
        function submitData() {
            document.getElementById('submitForm').submit();
            alert('Done!');
            window.location.replace(document.referrer);
        }
    </script>
{% endblock %}