{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-3 requiredField">
		{{ view.kwargs.username }} has {{ page_obj.paginator.count }} 
		{% if page_obj.paginator.count > 1 %}
			posts
		{% else %}
			post
		{% endif %}
    </h1>
    {% for post in posts %}
    	<div class="post container" style="max-height: 200px; 
										   overflow: hidden; 
										   text-overflow: ellipsis;">
    		<span class="post-authon post-date">
				By 
				<a href="{% url 'user-posts' post.author.username %}">
    				{{ post.author }}
    			</a>
    				  -  
    			<small>
    				{{ post.date|date:'F d, Y' }}
				</small>
				<p class='float-right'>
					Total likes: {{ post.like.count }}
				</p>
    		</span>
    		<hr/>
	        <h1>
				<a class="post-title" href="http://127.0.0.1:8000/post/{{ post.id }}">
					{{ post.title }}
				</a>
	        </h1>
	        <span class="post-descs">
	            {{ post.desctiption }}
	        </span>
	    </div>
	{% endfor %}
	<br/>
	<div style='text-align: center;'>
		{% if is_paginated %}
			{% if page_obj.has_previous %}
				<a class="btn btn-outline-secondary mb-4" 
					href="?page=1">
					First
				</a>
				<a class="btn btn-outline-secondary mb-4" 
				href="?page={{ page_obj.previous_page_number }}">
					Previous
				</a>
			{% endif %}
			{% for each_number in page_obj.paginator.page_range %}
				{% if page_obj.number == each_number %}
				<a class="btn btn-secondary mb-4" 
					href="?page={{ each_number }}">
					{{ each_number }}
				</a>
				{% elif each_number > page_obj.number|add:'-3' and each_number < page_obj.number|add:'3' %}
				<a class="btn btn-outline-secondary mb-4" 
					href="?page={{ each_number }}">
					{{ each_number }}
				</a>
				{% endif %}
			{% endfor %}
			{% if page_obj.has_next %}
				<a class="btn btn-outline-secondary mb-4" 
					href="?page={{ page_obj.next_page_number }}">
					Next
				</a>
				<a class="btn btn-outline-secondary mb-4" 
				href="?page={{ page_obj.paginator.num_pages }}">
					Last
				</a>
			{% endif %}
		{% endif %}
	</div>
	<br/>
{% endblock %}